*.pyc
*.py#
*.exe
*.swp
*.py~
*.un~
*.pos
*.vrml
*~
*.swo
*.mtx
*.gz
*.m
*.fab
*.mat
*.o
*.py_o
*.so
*.coverage
.cache/*
bin/*
*.png
*.ipynb_checkpoints*
*.eps
*.pdf
.eggs/
*.DS_Store
*.egg-info

*.log
*.idea/*
*.ipe
*.mp4
*.avi
*.vtu
*.pvd
paper_examples/01_2d_vertical_fracture/plotting.py
*.plk
*.geo_unrolled
*.msh
paper_examples/01_2d_vertical_fracture/plotting.py
